<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />
    <meta name="description"
        content="路見不平 - Road Justice: 市民回報道路問題的平台，讓城市更安全更美好。Report road maintenance issues for a safer city." />
    <meta property="og:title" content="路見不平 - Road Justice" />
    <meta property="og:description" content="市民回報道路問題的平台，讓城市更安全更美好。" />
    <meta property="og:type" content="website" />
    <title>路見不平 - Road Justice</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans+TC:wght@100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script type="module" crossorigin src="/static/assets/index-CivntFvv.js"></script>
    <link rel="stylesheet" crossorigin href="/static/assets/index-DuLIrBHZ.css">
</head>

<body>
    <div id="root"></div>
</body>

</html>