{% extends "base.html" %}
{% block content %}
<h3>登入</h3>
<form method="post">
  <div class="mb-3">
    <label class="form-label">帳號</label>
    <input name="username" class="form-control">
  </div>
  <div class="mb-3">
    <label class="form-label">密碼</label>
    <input name="password" type="password" class="form-control">
  </div>
  <button class="btn btn-primary">登入</button>
  <a class="btn btn-outline-secondary" href="{{ url_for('oauth_login', provider='google') }}">使用 Google 登入</a>
  <a class="btn btn-outline-secondary" href="{{ url_for('oauth_login', provider='facebook') }}">使用 Facebook 登入</a>
</form>
{% endblock %}
